@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.button {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #3f3f3f;
	line-height: 20.27px;
	border-radius: 6px;
	background-color: #e0e0e0;
	border: none;
	box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
	width: 81px;
	height: 36px;
	margin: 1rem 0;
	transition: background-color 0.3s ease-in-out;
}

/* ! || Default-styles */

/* * OUTLINE */

.button.outlined {
	background-color: transparent;
	border: 1px solid #3d5afe;
	color: #3d5afe;
}

/* * TEXT */

.button.text {
	background-color: transparent;
	border: none;
	color: #3d5afe;
	box-shadow: none;
}

/* * DISABLE-SHADOW */

.button.shadowed {
	background-color: #3d5afe;
	border: none;
	color: #fff;
	box-shadow: none;
}

/* * DISABLED */

.button.disabled {
	background-color: #e0e0e0;
	border: none;
	color: #828282;
	box-shadow: none;
	cursor: not-allowed;
}

.button.text.disabled {
	background-color: transparent;
	border: none;
	color: #828282;
	box-shadow: none;
	cursor: not-allowed;
}

/* * COLORS */

.button.primary {
	background-color: #2962ff;
	color: #fff;
}

.button.secondary {
	background-color: #455a64;
	color: #fff;
}

.button.danger {
	background-color: #d32f2f;
	color: #fff;
}

/* ! || Alt-styles */

/* * DEFAULT-ALT */

.defaultButton-alt .button:hover,
.defaultButton-alt .button:focus {
	background-color: #aeaeae;
	cursor: pointer;
}

/* * OUTLINE-ALT */

.outlineButton-alt .button:hover,
.outlineButton-alt .button:focus {
	background-color: #2962ff1a;
	cursor: pointer;
}

/* * TEXT-ALT */

.textButton-alt .button:hover,
.textButton-alt .button:focus {
	background-color: #2962ff1a;
	cursor: pointer;
}
