@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
}

.main {
	display: flex;
	flex-direction: column;
	padding: 4rem 6rem;
	width: 100%;
}

.main h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 2rem;
	color: #4f4f4f;
	margin-bottom: 2rem;
}

.buttonGroups,
#first {
	font-family: "Ubuntu Mono", monospace;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 400px;
}

.buttonGroups,
#second {
	max-width: 0.5rem;
	gap: 1rem;
}

.buttonGroups,
#second .group {
	gap: 4rem;
	margin-top: 1rem;
}

.buttonGroups,
#third .group {
	gap: 5rem;
}

.buttonGroups,
#fourth {
	max-width: 0.5rem;
}

.buttonGroups,
#fourth .group {
	margin-top: 1rem;
}

.buttonGroups .name {
	color: #333333;
	white-space: nowrap;
}

.buttonGroups .alt {
	color: #828282;
	white-space: nowrap;
}

/* Default group styling -------- */

.group {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.disableButton-alt {
	position: absolute;
	left: 625px;
}
